@import url("./reset.css");
@import url("./variables.css");
@import url("./fonts.css");

body {
  background-color: var(--color-off-black);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

#app {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--color-dark-grey);
  border-radius: 0.75rem;
  max-width: 330px;
  padding: 1.5rem;
  text-align: center;
}

.card__socials {
  display: flex;
  flex-direction: column;
}

.card__social {
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 1rem;
}

.card__social:not(:last-child) {
  margin-bottom: 1rem
}