:root {
  /* Primary */
  --color-green: rgb(197, 248, 42);

  /* Secondary */
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(51, 51, 51);
  --color-dark-grey: rgb(31, 31, 31);
  --color-off-black: rgb(20, 20, 20);
}